<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="author" content="{{ site.name }}" />
        <meta name="description" content="{{ page.description }}" />

        <!-- Meta information for building twitter cards. -->
        <meta property="twitter:card" content="summary" />
        <meta property="twitter:creator" content="@stephenmcgruer" />

        <!-- Meta information for OpenGraph (covers Facebook and Google+) -->
        <meta property="og:url" content="{{ site.url }}{% unless page.url == '/index.html' %}{{ page.url }}{% endunless %}" />
        <meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}" />
        <meta property="og:description" content="{{ page.description }}" />

        <!-- Google+ authorship link. -->
        <link rel="author" href="https://plus.google.com/113736965898516578856" >

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/page.css">
        <link rel="stylesheet" href="/css/footer.css">

    </head>

    <body>
        <header class="header">
            <h1>Stephen McGruer</h1>
            <nav class="header--nav">
                <a href="/">Home</a>
                <a href="/blog">Blog</a>
                <a href="/resume">Résumé</a>
            </nav>
        </header>

        {{ content }}

        <footer class="footer">
            <ul class="footer--links">
                <li><a href="http://twitter.com/stephenmcgruer/">Twitter</a></li>
                <li><a href="http://github.com/stephenmcgruer/">Github</a></li>
            </ul>
            <p class="footer--copyright">
              © Copyright 2013 Stephen McGruer
            </p>
        </footer>
    </body>
</html>
