.footer--links {
  text-align: center;
  margin-bottom: 16px;

  /* Override user agent default. */
  padding-left: 0;
}

.footer--links li {
  display: inline-block;
}

.footer--links li a {
  padding: 8px;
  font-weight: 700;
}

.footer--copyright {
  text-align: center;
  font-size: 11px; font-size: 0.7rem;
}
